title: Security
icon: 'mdi:lock'
id: security
path: security
panel: true
badges: []
cards:
  - type: 'custom:layout-card'
    column_width: 98%
    cards:
      - type: 'custom:layout-card'
        layout: horizontal
        max_columns: 3
        cards:
          - type: 'custom:layout-card'
            gridcols: auto
            gridrows: 40px auto
            layout: grid
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Driveway
                template: header

              - type: picture-entity
                gridcol: 1
                gridrow: 2
                camera_image: camera.driveway_front_door
                entity: camera.driveway_front_door
                name: Driveway
                show_name: false
                show_state: false

              - type: glance
                gridcol: 1
                gridrow: 3
                entities:
                  - entity: binary_sensor.driveway_person_detected
                    name: Driveway person
                  - entity: camera.driveway_last_person
                    name: Last person

          - type: 'custom:layout-card'
            gridcols: auto
            gridrows: 40px auto
            layout: grid
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Hallway
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.hallway_front_door
                    name: Front door
                  - entity: binary_sensor.hallway_motion
                    name: Motion

          - type: 'custom:layout-card'
            gridcols: auto
            gridrows: 40px auto
            layout: grid
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Living room
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.living_room_door
                    name: Door
                  - entity: binary_sensor.living_room_window
                    name: Front window
                  - entity: binary_sensor.living_room_motion
                    name: Motion
                  - entity: binary_sensor.dining_area_garden_doors
                    name: Garden doors

          - type: 'custom:layout-card'
            gridcols: auto
            gridrows: 40px auto
            layout: grid
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Dining area & Kitchen
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.dining_area_motion
                    name: Dining area
                  - entity: binary_sensor.kitchen_motion
                    name: Kitchen

          - type: 'custom:layout-card'
            layout: grid
            gridcols: auto
            gridrows: 40px auto
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Utility room
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.utility_room_door
                    name: Door
                  - entity: binary_sensor.utility_room_garden_door
                    name: Garden door

          - type: 'custom:layout-card'
            layout: grid
            gridcols: auto
            gridrows: 40px auto
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Garage
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.garage_entry_door
                    name: Entry door
                  - entity: binary_sensor.garage_door
                    name: Garage door
                  - entity: binary_sensor.garage_motion
                    name: Motion

          - type: 'custom:layout-card'
            layout: grid
            gridcols: auto
            gridrows: 40px auto
            cards:
              - type: 'custom:button-card'
                gridcol: 1
                gridrow: 1
                name: Study
                template: header

              - type: glance
                gridcol: 1
                gridrow: 2
                entities:
                  - entity: binary_sensor.study_balcony_door
                    name: Balcony door
                  - entity: binary_sensor.study_window
                    name: Window
