# Ignore OS files and folders
/.Trash*/

# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
/tmp

# Directory (contents) ignores
/backups
/*.conf
/deps
/.storage
/tts
/.vscode
/.cloud
/lost+found

# Specific file ignores
/.uuid
/ip_bans.yaml
/secrets.yaml
/go2rtc-*
/www/images/snapshots
/www/tmp

# Specific keeps
!.gitkeep
