@font-face {
  font-family: "SegoeUI";
  font-weight: normal;
  src: url("/local/fonts/segoeui.ttf");
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 100;
  src: url("/local/fonts/segoeuil.ttf");
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 200;
  src: url("/local/fonts/segoeuisl.ttf");
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 600;
  src: url("/local/fonts/seguisb.ttf");
}

@font-face {
  font-family: "SegoeUI";
  font-weight: bold;
  src: url("/local/fonts/segoeuib.ttf");
}

@font-face {
  font-family: "SegoeUI";
  font-weight: 900;
  src: url("/local/fonts/seguibl.ttf");
}

body {
  font-family: Segoe UI Variable Static Text, Segoe UI, SegoeUI, -apple-system,
    BlinkMacSystemFont, sans-serif;
}

html {
  font-family: Segoe UI Variable Static Text, Segoe UI, SegoeUI, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --paper-font-common-base_-_font-family: Segoe UI Variable Static Text,
    Segoe UI, SegoeUI, -apple-system, BlinkMacSystemFont, sans-serif;
}
